@font-face {
    font-family: "Raleway";
    src: url(Police/Raleway/Raleway-VariableFont_wght.ttf);
}

@font-face {
    font-family: "RalewayItalic";
    src: url(Police/Raleway/Raleway-Italic-VariableFont_wght.ttf);
}

@font-face {
    font-family: "RalewayBold";
    src: url(Police/Raleway/Raleway-Bold.ttf);
}

body {
    margin-top: 0px;
    margin-right: 10px;
    margin-left: 5px;
    width: 100%;
    max-width: 1440px;
}

* {
    font-family: "Raleway";
    text-decoration: none;
}

span {
    font-weight: bolder;
}

/* header */

header {
    margin-left: 50px;
}

/* link */

a:visited {
    color: black;
}

a:hover {
    color: rgb(0, 101, 252);
}

a {
    color: black;
}

/* menu */

#menu {
    margin-left: 66%;
    color: black;
}

#menu>ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 53px;
}

#menu>ul>li {
    margin-left: -3px;
    margin-right: 35px;
}

ul {
    list-style-type: none;
}

.linkMenu:hover {
    border-top: 2px solid rgb(0, 101, 252);
}

.linkMenu {
    padding-top: 51px;
    padding-left: 25px;
    padding-right: 25px;
    font-weight: 540;
}

/* logo */

.logoBooki {
    height: 45px;
    margin-top: 45px;
    margin-bottom: 15px;
}

#menuLogo {
    display: flex;
    flex-direction: row-reverse;
}

/* text header */

#titres>h1 {
    font-size: x-large;
    font-weight: bold;
    font-family: "RalewayBold";
    letter-spacing: -1px;
}

#titres>h2 {
    font-size: medium;
    line-height: 7px;
    font-weight: lighter;
}

/* bouton recherche */

.buttonRechercheDesktop {
    background-color: rgb(0, 101, 252);
    color: white;
    border-radius: 0px 15px 15px 0px;
    border-style: none;
    width: 135px;
    height: 50px;
    line-height: 10px;
    font-family: "RalewayBold";
    font-size: larger;

}

.buttonRechercheSmartPhone {
    visibility: hidden;
}

.iconPin {
    background: rgb(240, 240, 240);
    width: 50px;
    height: 50px;
    border-radius: 15px 0px 0px 15px;
    text-align: center;
    vertical-align: sub;
    line-height: 50px;
    font-size: large;
}

#recherche {
    font-size: large;
    border-color: rgb(240, 240, 240);
    border-style: solid;
    height: 44px;
    width: 200px;
    margin-left: -40px;
}

#recherche::placeholder {
    color: black;
    font-weight: bolder;
    font-size: medium;
    padding-left: 10px;
    font-family: "RalewayBold";
}

#recherches {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

/* boutons filtres */

#filtres,
.twoButtons {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: "RalewayBold";
    font-weight: bolder;
}



.buttonFiltre {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border-radius: 35px;
    border-color: rgb(240, 240, 240);
    border-style: solid;
    font-weight: bolder;
    font-size: medium;
    margin: 15px;
    padding-right: 17px;
    width: fit-content;
    height: 50px;
    font-family: "RalewayBold";
    font-weight: bolder;
}

.iconFiltre {
    display: flex;
    flex-direction: row;
    background-color: rgb(222, 235, 255);
    color: rgb(0, 101, 252);
    width: 49px;
    height: 49px;
    border-radius: 50%;
    border-style: none;
    line-height: 48px;
    justify-content: center;
    margin-right: 10px;
    margin-left: -8px;
    margin-top: -2px;
    margin-bottom: -2px;
    font-size: large;
}

/* infos */

#infos {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.iconInfo {
    display: flex;
    flex-direction: row;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 101, 252);
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border-style: solid;
    border-color: rgb(240, 240, 240);
    justify-content: center;
    vertical-align: middle;
    margin-right: 10px;
    padding: 5px 3px 3px 3px;
    font-size: small;
    line-height: 10px;
}

/* main */

main {
    background-color: rgb(242, 242, 242);
    display: flex;
    flex-direction: column;
    width: 62%;
    border-radius: 30px;
    justify-content: space-evenly;
    height: 615px;
    margin-top: 25px;
    margin-right: 35px;
    margin-left: 50px;
}

main>h1 {
    padding-left: 40px;
    font-size: x-large;
    font-weight: bolder;
    font-family: "RalewayBold";
    margin-bottom: 20px;
    margin-top: 33px;
    margin-left: 5px;
}

main>h2 {
    padding-left: 40px;
    font-size: medium;
    font-weight: bolder;
    font-family: "RalewayBold";
    margin-left: 5px;
}

#ligne1 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 22px;
}

#ligne2 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.hotel {
    background-color: rgb(255, 255, 255);
    border-radius: 18px;
    padding: 5px;
    width: 230px;
    box-shadow: 2px 2px 10px rgb(187, 187, 187, 0.8);
}

.titreHotel {
    font-size: small;
    line-height: 5px;
    padding: 0px 2px 2px 2px;
    margin-left: 10px;
}

.imgHotel {
    height: 110px;
    width: 230px;
    border-radius: 12px 12px 0px 0px;
    object-fit: cover;
}

.starHotel {
    padding-bottom: 4px;
    margin-left: 8px;
}

/* aside */

aside {
    background-color: rgb(242, 242, 242);
    display: flex;
    flex-direction: column;
    width: 28%;
    border-radius: 30px;
    margin-top: 25px;
    height: 615px;
}

.titreIconHotelPop>h2 {
    padding-left: 20px;
    font-size: x-large;
    font-weight: bolder;
    font-family: "RalewayBold";
    letter-spacing: 0px;
}

.hotelPop {
    display: flex;
    flex-direction: row;
    background-color: rgb(255, 255, 255);
    border-radius: 18px;
    padding: 7px;
    width: 340px;
    height: 130px;
    margin: 20px 20px 0px 20px;
    box-shadow: 2px 2px 10px rgb(187, 187, 187, 0.8);
    align-items: center;
}

.titreHotelPop>h3 {
    margin: 0%;
}

.titreHotelPop {
    font-size: small;
    letter-spacing: 0px;
}

.titreHotelPop>p {
    margin: 0%;
}

.titrePlusStar {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}

.imgHotelPop {
    height: 135px;
    width: 125px;
    border-radius: 12px 0px 0px 12px;
    object-fit: cover;
    margin-left: -2px;
}

.titreIconHotelPop {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 10px;
    margin-top: 30px;
}

.iconHotelPop {
    margin-left: 93px;
    font-size: large;
}

.starHotelPop {
    margin-top: 65px;
}

.starHotelPop2 {
    margin-top: 45px;
}


/* second */

.second {
    display: flex;
    flex-direction: row;
    margin-left: 30px;
    margin-right: 7px;
}

.activiteTab1 {
    display: flex;
    flex-direction: row;
}

.activiteTab2 {
    display: flex;
    flex-direction: row;
}

.activites {
    margin: 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 25px;
    box-shadow: 2px 2px 10px rgb(187, 187, 187, 0.8);
    padding-bottom: 2px;
}

.titreSecond {
    font-size: x-small;
    margin-left: 50px;
}

.titreActivites {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    font-size: small;
}

/* images des activités */

.imgActivitesGrande {
    height: 400px;
    width: 299px;
    border-radius: 25px 25px 0px 0px;
    object-fit: cover;
}

.imgActivitesPetite {
    height: 162px;
    width: 299px;
    border-radius: 25px 25px 0px 0px;
    object-fit: cover;
}

.imgActivitesMedium {
    height: 220px;
    width: 299px;
    border-radius: 25px 25px 0px 0px;
    object-fit: cover;
}

.imgActivitesMini {
    height: 105px;
    width: 299px;
    border-radius: 25px 25px 0px 0px;
    object-fit: cover;
}

/* twoBlocks */

#twoBlocks {
    display: flex;
    flex-direction: row;
}

/* footer */

footer {
    display: flex;
    flex-direction: row;
    background-color: rgb(242, 242, 242);
}

.basDePage>ul>li>h2 {
    font-size: medium;
    font-weight: 900;
}

.basDePage {
    display: flex;
    flex-direction: column;
    justify-content: right;
    margin-left: 15px;
    margin-right: 180px;
}

/* icons */

.starHotel,
.starHotelPop,
.starHotelPop2 {
    color: rgb(0, 101, 252);
}

.starHotelGrey,
.starHotelGrey2 {
    color: rgb(218, 218, 218)
}

.starHotel,
.starHotelGrey,
.starHotelGrey2,
.starHotelPop,
.starHotelPop2 {
    display: flex;
    flex-direction: row;
}

.starHotel,
.starHotelGrey {
    font-size: small;
}

.starHotelGrey2,
.starHotelPop,
.starHotelPop2 {
    font-size: x-small;
}

/* Media Queries SmartPhone */

@media all and (max-device-width: 768px) {
    body {
        width: 100%;
        max-width: 425px;
        height: max-content;
    }

    /* header */

    header {
        margin-left: 15px;
    }

    /* two blocks */

    #twoBlocks {
        display: flex;
        flex-direction: column-reverse;
    }

    /** menu **/

    #menu {
        color: black;
        font-size: medium;
        font-weight: bolder;
        margin-left: 7px;
        margin-top: -43px;
        margin-bottom: 20px;
    }

    #menu>ul {
        display: flex;
        flex-direction: row;
    }

    #menu>ul>li {
        margin-left: -40px;
        margin-right: 0px;
    }

    /* menu barre */

    .linkMenu:hover {
        border-bottom: 3px solid rgb(0, 101, 252);
        border-top: 0px;
    }

    .linkMenu {
        padding-left: 70px;
        padding-right: 70px;
        padding-bottom: 20px;
        font-weight: bold;
        border-bottom: 3px solid rgb(235, 235, 235);
        margin-inline: 0px;
    }

    /* logo */

    #menuLogo {
        display: flex;
        flex-direction: column-reverse;
        margin-left: -70px;
    }

    .logoBooki {
        display: flex;
        flex-direction: column;
        height: 45px;
        margin-left: 210px;
        margin-top: 30px;

    }

    /* titre */

    #titres {
        font-size: medium;
        text-align: justify;
        width: 300px;
    }

    /* bouton recherche */

    .recherchePlusBarre {
        display: flex;
        flex-direction: row-reverse;
    }

    .buttonRechercheSmartPhone {
        background-color: rgb(0, 101, 252);
        color: white;
        border-radius: 15px 15px 15px 15px;
        border-style: none;
        width: 50px;
        height: 50px;
        line-height: 10px;
        font-family: "RalewayBold";
        font-size: larger;
        visibility: visible;
        z-index: 2;
        margin-left: -10px;
    }

    .buttonRechercheDesktop {
        display: none;
    }

    .iconPin {
        background: rgb(240, 240, 240);
        width: 50px;
        height: 50px;
        border-radius: 15px 0px 0px 15px;
        text-align: center;
        vertical-align: sub;
        line-height: 50px;
        padding-left: 5px;
        font-size: large;
    }

    #recherche {
        font-size: large;
        border-color: rgb(240, 240, 240);
        border-style: solid;
        height: 44px;
        width: 245px;
        margin-left: 0px;
    }

    /* boutons filtres */

    #filtres {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        font-family: "RalewayBold";
        font-weight: bolder;
    }

    .buttonFiltre {
        display: flex;
        flex-direction: row;
        background-color: rgb(255, 255, 255);
        border-radius: 35px;
        border-color: rgb(240, 240, 240);
        border-style: solid;
        font-weight: bolder;
        font-size: medium;
        margin: 15px;
        margin-left: 0px;
        padding-right: 25px;
        height: 50px;
        font-family: "RalewayBold";
        font-weight: bolder;
    }

    .iconFiltre {
        display: flex;
        flex-direction: row;
        background-color: rgb(222, 235, 255);
        color: rgb(0, 101, 252);
        width: 49px;
        height: 49px;
        border-radius: 50%;
        border-style: none;
        line-height: 48px;
        margin-right: 10px;
        margin-left: -8px;
        margin-top: -2px;
        margin-bottom: -2px;
        font-size: large;
    }

    /* aside */

    aside {
        background-color: rgb(242, 242, 242);
        display: flex;
        flex-direction: column;
        width: 100%;
        border-radius: 0px;
        margin-top: 25px;
        height: 615px;
    }

    .titreIconHotelPop>h2 {
        padding-left: 20px;
        font-size: x-large;
        font-weight: bolder;
        font-family: "RalewayBold";
        letter-spacing: 0px;
    }

    .hotelPop {
        display: flex;
        flex-direction: row;
        background-color: rgb(255, 255, 255);
        border-radius: 18px;
        padding: 7px;
        width: 360px;
        height: 130px;
        margin: 20px 20px 0px 20px;
        box-shadow: 2px 2px 10px rgb(187, 187, 187, 0.8);
        align-items: center;
    }

    .titreHotelPop>h3 {
        margin: 0%;
    }

    .titreHotelPop {
        font-size: medium;
        letter-spacing: 0px;
    }

    .titreHotelPop>p {
        margin: 0%;
    }

    .titrePlusStar {
        display: flex;
        flex-direction: column;
        margin-left: 15px;
    }

    .imgHotelPop {
        height: 135px;
        width: 125px;
        border-radius: 12px 0px 0px 12px;
        object-fit: cover;
        margin-left: -2px;
    }

    .titreIconHotelPop {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-left: 10px;
        margin-top: 30px;
    }

    .iconHotelPop {
        margin-left: 110px;
        font-size: large;
    }

    .starHotelPop {
        margin-top: 65px;
    }

    .starHotelPop2 {
        margin-top: 45px;
    }

    .starHotelGrey2,
    .starHotelPop,
    .starHotelPop2 {
        font-size: small;
    }

    /* main */

    main {
        background-color: rgb(255, 255, 255);
        display: flex;
        flex-direction: column;
        width: 100%;
        border-radius: 0px;
        justify-content: space-evenly;
        height: 615px;
        margin-top: 400px;
        margin-right: 35px;
        margin-left: 50px;
        margin-bottom: 400px;
    }

    main>h1 {
        padding-left: 40px;
        font-size: x-large;
        font-weight: bolder;
        font-family: "RalewayBold";
        margin-bottom: 20px;
        margin-top: 33px;
        margin-left: -60px;
    }

    main>h2 {
        padding-left: 40px;
        font-size: medium;
        font-weight: bolder;
        font-family: "RalewayBold";
        margin-left: -55px;
    }

    #ligne1 {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    #ligne2 {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .hotel {
        background-color: rgb(255, 255, 255);
        border-radius: 18px;
        padding: 5px;
        width: 360px;
        margin-left: -25px;
        margin-bottom: 15px;
        box-shadow: 2px 2px 10px rgb(187, 187, 187, 0.8);
    }

    .titreHotel {
        font-size: small;
        line-height: 5px;
        padding: 0px 2px 2px 2px;
        margin-left: 10px;
    }

    .imgHotel {
        height: 110px;
        width: 360px;
        border-radius: 12px 12px 0px 0px;
        object-fit: cover;
    }

    .starHotel {
        padding-bottom: 4px;
        margin-left: 8px;
    }

    /* second */

    .second {
        display: flex;
        flex-direction: column;
        margin-left: 15px;
        margin-right: 7px;
    }

    .activiteTab1 {
        display: flex;
        flex-direction: column;
    }

    .activiteTab2 {
        display: flex;
        flex-direction: column;
    }

    .activites {
        margin-top: 20px;
        margin-left: 20px;
        margin-bottom: 20px;
        background-color: rgb(255, 255, 255);
        border-radius: 25px;
        box-shadow: 2px 2px 10px rgb(187, 187, 187, 0.8);
        padding-bottom: 2px;
        width: 360px;
    }

    #activite1,
    #activite2,
    #activite3,
    #activite4 {
        margin-bottom: -20px;
    }

    .titreSecond {
        font-size: x-small;
        margin-left: 35px;
    }

    .titreActivites {
        display: flex;
        flex-direction: column;
        margin-left: 20px;
        font-size: medium;
        font-weight: bolder;
    }

    /* images des activités */

    .imgActivitesGrande {
        height: 130px;
        width: 360px;
        border-radius: 25px 25px 0px 0px;
        object-fit: cover;
    }

    .imgActivitesPetite {
        height: 130px;
        width: 360px;
        border-radius: 25px 25px 0px 0px;
        object-fit: cover;
    }

    .imgActivitesMedium {
        height: 130px;
        width: 360px;
        border-radius: 25px 25px 0px 0px;
        object-fit: cover;
    }

    .imgActivitesMini {
        height: 130px;
        width: 360px;
        border-radius: 25px 25px 0px 0px;
        object-fit: cover;
    }

    /* footer */

    footer {
        display: flex;
        flex-direction: column;
        background-color: rgb(242, 242, 242);
        margin-top: 40px;
    }

    .basDePage>ul>li>h2 {
        font-size: medium;
        font-weight: 900;
    }

    .basDePage {
        display: flex;
        flex-direction: column;
        justify-content: right;
        margin-left: 15px;
        margin-right: 180px;
        line-height: 20px;
        margin-inline: 10px;
    }

}

/* Responsive Tablette */

@media all and (max-device-width: 1439px) and (min-device-width: 769px) {
    body {
        width: 100%;
        max-width: 992px;
        height: max-content;
    }

    /* header */

    header {
        margin-left: 15px;
    }

    /* two blocks */

    #twoBlocks {
        display: flex;
        flex-direction: column-reverse;
    }

    /** menu **/

    #menu {
        color: black;
        font-size: medium;
        font-weight: bolder;
        margin-left: 7px;
        margin-top: 1px;
        margin-bottom: 0px;
    }

    #menu>ul {
        display: flex;
        flex-direction: row;
    }

    #menu>ul>li {
        margin-left: -40px;
        margin-right: 0px;
    }

    /* menu barre */

    .linkMenu:hover {
        border-bottom: 0px;
        border-top: 3px solid rgb(0, 101, 252);
    }

    .linkMenu {
        padding-left: 70px;
        padding-right: 70px;
        padding-bottom: 0px;
        font-weight: bold;
        border-bottom: 0px;
        border-top: 3px solid rgb(235, 235, 235);
        margin-inline: 0px;
    }

    /* logo */

    #menuLogo {
        display: flex;
        flex-direction: column;
        margin-left: -70px;
    }

    .logoBooki {
        display: flex;
        flex-direction: column;
        height: 75px;
        margin-left: 480px;
        margin-top: 30px;
    }

    /* titre */

    #titres {
        font-size: medium;
        text-align: justify;
        margin-left: 210px;
    }

    #titres>h2 {
        margin-left: 125px;
    }

    /* bouton recherche */

    #recherches {
        justify-content: center;
    }

    .recherchePlusBarre {
        display: flex;
        flex-direction: row-reverse;
    }

    .buttonRechercheSmartPhone {
        background-color: rgb(0, 101, 252);
        color: white;
        border-radius: 15px 15px 15px 15px;
        border-style: none;
        width: 50px;
        height: 50px;
        line-height: 10px;
        font-family: "RalewayBold";
        font-size: larger;
        visibility: visible;
        z-index: 2;
        margin-left: -10px;
    }

    .buttonRechercheDesktop {
        display: none;
    }

    .iconPin {
        background: rgb(240, 240, 240);
        width: 50px;
        height: 50px;
        border-radius: 15px 0px 0px 15px;
        text-align: center;
        vertical-align: sub;
        line-height: 50px;
        padding-left: 5px;
        font-size: large;
    }

    #recherche {
        font-size: large;
        border-color: rgb(240, 240, 240);
        border-style: solid;
        height: 44px;
        width: 245px;
        margin-left: 0px;
    }

    /* boutons filtres */

    #filtres {
        display: flex;
        flex-direction: row;
        align-items: center;
        font-family: "RalewayBold";
        font-weight: bolder;
        margin-left: 30px;
    }

    .buttonFiltre {
        display: flex;
        flex-direction: row;
        background-color: rgb(255, 255, 255);
        border-radius: 35px;
        border-color: rgb(240, 240, 240);
        border-style: solid;
        font-weight: bolder;
        font-size: medium;
        margin: 15px;
        margin-left: 25px;
        padding-right: 25px;
        height: 50px;
        font-family: "RalewayBold";
        font-weight: bolder;
    }

    .iconFiltre {
        display: flex;
        flex-direction: row;
        background-color: rgb(222, 235, 255);
        color: rgb(0, 101, 252);
        width: 49px;
        height: 49px;
        border-radius: 50%;
        border-style: none;
        line-height: 48px;
        margin-right: 10px;
        margin-left: -8px;
        margin-top: -2px;
        margin-bottom: -2px;
        font-size: large;
    }

    /* infos */

    #infos {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .iconInfo {
        display: flex;
        flex-direction: row;
        background-color: rgb(255, 255, 255);
        color: rgb(0, 101, 252);
        width: 12px;
        height: 12px;
        border-radius: 50%;
        border-style: solid;
        border-color: rgb(240, 240, 240);
        justify-content: center;
        vertical-align: middle;
        margin-right: 10px;
        margin-left: 25px;
        padding: 5px 3px 3px 3px;
        font-size: small;
        line-height: 10px;
    }

    /* aside */

    aside {
        background-color: rgb(242, 242, 242);
        display: flex;
        flex-direction: column;
        width: 100%;
        border-radius: 25px;
        margin-top: 25px;
        height: 315px;
        margin-left: 20px;
    }

    .hotelPopNoTitre {
        display: flex;
        flex-direction: row;
        margin: 20px 0px 0px 23px;
    }

    .titreIconHotelPop>h2 {
        padding-left: 20px;
        font-size: x-large;
        font-weight: bolder;
        font-family: "RalewayBold";
        letter-spacing: 0px;
        margin-left: -5px;
    }

    .hotelPop {
        display: flex;
        flex-direction: row;
        background-color: rgb(255, 255, 255);
        border-radius: 18px;
        padding: 7px;
        width: 390px;
        height: 130px;
        margin: 0px 20px 0px 0px;
        box-shadow: 2px 2px 10px rgb(187, 187, 187, 0.8);
        align-items: center;
    }

    .titreHotelPop>h3 {
        margin: 0%;
    }

    .titreHotelPop {
        font-size: small;
        letter-spacing: 0px;
    }

    .titreHotelPop>p {
        margin: 0%;
    }

    .titrePlusStar {
        display: flex;
        flex-direction: column;
        margin-left: 15px;
    }

    .imgHotelPop {
        height: 135px;
        width: 125px;
        border-radius: 12px 0px 0px 12px;
        object-fit: cover;
        margin-left: -2px;
    }

    .titreIconHotelPop {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-left: 10px;
        margin-top: 30px;
    }

    .iconHotelPop {
        margin-left: 50px;
        font-size: large;
    }

    .starHotelPop {
        margin-top: 65px;
    }

    .starHotelPop2 {
        margin-top: 45px;
    }

    .starHotelGrey2,
    .starHotelPop,
    .starHotelPop2 {
        font-size: small;
    }

    /* main */

    main {
        background-color: rgb(242, 242, 242);
        width: 100%;
        border-radius: 25px;
        justify-content: space-evenly;
        height: 815px;
        margin-top: 30px;
        margin-right: 35px;
        margin-left: 22px;
        margin-bottom: 50px;
    }

    .twoBlocksNoTitre {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    main>h1 {
        padding-left: 40px;
        font-size: x-large;
        font-weight: bolder;
        font-family: "RalewayBold";
        margin-bottom: 20px;
        margin-top: 33px;
        margin-left: -15px;
    }

    main>h2 {
        padding-left: 40px;
        font-size: medium;
        font-weight: bolder;
        font-family: "RalewayBold";
        margin-left: -15px;
    }

    #ligne1 {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    #ligne2 {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin-left: 100px;
        margin-bottom: 22px;
    }

    .hotel {
        background-color: rgb(255, 255, 255);
        border-radius: 18px;
        padding: 5px;
        width: 360px;
        margin-left: -25px;
        margin-bottom: 15px;
        box-shadow: 2px 2px 10px rgb(187, 187, 187, 0.8);
    }

    .titreHotel {
        font-size: small;
        line-height: 5px;
        padding: 0px 2px 2px 2px;
        margin-left: 10px;
    }

    .imgHotel {
        height: 110px;
        width: 360px;
        border-radius: 12px 12px 0px 0px;
        object-fit: cover;
    }

    .starHotel {
        padding-bottom: 4px;
        margin-left: 8px;
    }

    /* second */

    .second {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-left: 15px;
        margin-right: 7px;
    }

    .activiteTab1 {
        display: flex;
        flex-direction: column;
    }

    .activiteTab2 {
        display: flex;
        flex-direction: column;
    }

    .activites {
        margin-top: 0px;
        margin-left: 20px;
        margin-bottom: 20px;
        background-color: rgb(255, 255, 255);
        border-radius: 25px;
        box-shadow: 2px 2px 10px rgb(187, 187, 187, 0.8);
        padding-bottom: 2px;
        width: 450px;
        height: 200px;
    }

    #activite1,
    #activite2,
    #activite3,
    #activite4 {
        margin-bottom: 0px;
    }

    .titreSecond {
        font-size: x-small;
        margin-left: 50px;
        margin-bottom: 40px;
    }

    .titreActivites {
        display: flex;
        flex-direction: column;
        margin-left: 20px;
        font-size: medium;
        font-weight: bolder;
        margin-top: -13px;
    }

    /* images des activités */

    .imgActivitesGrande {
        height: 160px;
        width: 450px;
        border-radius: 25px 25px 0px 0px;
        object-fit: cover;
    }

    .imgActivitesPetite {
        height: 160px;
        width: 450px;
        border-radius: 25px 25px 0px 0px;
        object-fit: cover;
    }

    .imgActivitesMedium {
        height: 160px;
        width: 450px;
        border-radius: 25px 25px 0px 0px;
        object-fit: cover;
    }

    .imgActivitesMini {
        height: 160px;
        width: 450px;
        border-radius: 25px 25px 0px 0px;
        object-fit: cover;
    }

    /* footer */

    footer {
        display: flex;
        flex-direction: row;
        background-color: rgb(242, 242, 242);
        margin-top: 40px;
    }

    .basDePage>ul>li>h2 {
        font-size: medium;
        font-weight: 900;
    }

    .basDePage {
        display: flex;
        flex-direction: column;
        justify-content: right;
        margin-left: 0px;
        margin-right: 0px;
        width: 80%;
        line-height: 20px;
        margin-inline: 10px;
    }

}